/* --------------------------------------------------------------
# General
-------------------------------------------------------------- */
.m-r-10 {
  margin-inline-end: 10px;
}

.m-0 {
  margin: 0;
}

.p-b-0 {
  padding-block-end: 0 !important;
}

.p-t-0 {
  padding-block-start: 0 !important;
}

.p-t-15 {
  padding-block-start: 15px;
}
